.Card {
	min-height: 350px;
	width: 260px;
	background-color: #dfdfdf;
	border-radius: 5px;
}

.CardBody {
	padding: 22px 16px;
}

.CardTitle {
	font-family: 'AvenirHeavy', sans-serif;
	font-size: 18px;
	margin-bottom: 20px;
}

.City {
	font-size: 12px;
	margin-bottom: 8px;
}

.CityName {
	background-color: white;
	display: inline-block;
	padding: 6px 6px 6px 10px;
	font-size: 10px;
	border-radius: 5px;
	margin-bottom: 16px;
}

.Students {
	font-size: 12px;
	margin-bottom: 10px;
}
